*{
    margin: 0px;
    padding: 0px;
}

body{
    position: relative;
}

.navbar{
   position: sticky;
   top: 0px;
   z-index: 1;
   background-color: rgb(68,35,59) !important;
  
}
.container-fluid>a{
    color: rgb(253,142,143) !important;
}
.nav-link{
    color: rgb(199,176,173) !important;
}

/* ____________________ */
/* Header */
.banner{
    width: 100%;
    height: 80vh;
}

/* responsive navbar */
.navbarRes{
    display: none;
}


/* _____________________________________________________ */

/* body */
body{
    background-color: rgb(254,239,225);
}

/* ---------------- */

.handtool-heading{
    background-color: rgb(68,35,59);
    color: rgb(253,142,143);
    padding: 10px;
    padding-left: 20px;
    margin: 20px;
    border-radius: 10px;
}

/* handtool-porducts */
.handtool-porducts{
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    margin: 20px;
    /* overflow-x: scroll; */
    
  
    
   
}

.handtoolcard{
    border-radius: 10px;
    padding: 10px;
    /* padding-right: 10px; */
    margin: 10px;
    background-color:  rgb(254,239,225);
    transition: transform 5ms ease;
  
   
    /* box-shadow: 1px 1px 15px rgb(233, 129, 131); */
   
}

.handtoolcard:hover{
    transform: scale(1.02);
    box-shadow: 1px 1px 15px rgb(233, 129, 131);
    transition: box-shadow 0.5s ease;
   
}
.handtoolcard>h6{
   font-weight: bolder;
   font-size: large;
}


.handtoolcard>img{
    width: 300px;
    /* width: 100%; */
    border-radius: 10px;
    padding-bottom: 10px;
   
}





/* ------------------- */

/* trending-porducts */
.trending-porducts{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    border: 1px solid black;
    margin: 20px;
   
    
   
}

.trendingcard{
    border: 1px solid black;
}
.trendingcard>h4{
    padding: 10px;
}

.trendingcard>img{
    width: 300px;
}

/* ------------------- */
/* best sealing tools */

.bestSealingTools{
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    margin: 20px;
}

/* ------------------- */
.newProducts{
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    margin: 20px;
}
/* ____________________ */
/* onlinewebsitelogo */
.onlinewebsitelogo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* padding: 20px; */

}
.onlinewebsitelogo>a>img{
    width: 200px;
}
.onlinewebsitelogo>a>img:hover{
  transform: scale(1.1);
}





/* ________________________________ */
/* footer */

.company{
   background-color: rgb(68,35,59);
    color: white;
    padding: 10px;
}

.company>div>h3{
    color: rgb(253,142,143);
}

.slogan{
color: rgb(199,176,173);
}
.contacts{
    color: rgb(199,176,173);
}
.contacts>h4{
    color: rgb(253,142,143);
}

.copyright{
    background-color: black;
    color: white;
    padding: 10px;
   text-align: center;
   padding-top: 25px;
}

.madeBy{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: white;
}
.madeByPara:hover{
    transform: scale(1.1);
}

.madeByPara{
padding: 5px;
background-color: antiquewhite;
color: firebrick;
width: fit-content;
padding: 10px;
border-radius:  10px;
font-size: small;
font-weight: bolder;

}
.social-links
{
 display: flex;
 flex-direction: column;  
 /* border: 1px solid white;   */
 gap: 50px;
}

.social-media>h4{
    color: rgb(253,142,143);
}

.social-links>a{
    color: rgb(199,176,173);
 text-decoration: none;
}

.footer1Container{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    border-top: 1px solid rgb(199,176,173);
    align-items: center;

}

.makeInIndia{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-top: 1px solid rgb(199,176,173);
}
.makeInIndia>img{
    width: 300px;
}

.heart{
    width: 20px;
}


.footer-Logo>img{
    width: 250px;

}










/* ______________________________________ */
/* mobile view */

@media only screen and  (max-width: 600px){
    *{
        margin: 0;
        padding: 0;
    }

/* ____________________________ */
/* Body */
.first-slider{
    height: auto;
}

.banner{
    width: 100%;
    height: 20vh;
}


.newProducts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
   
    overflow-x: scroll;
}
.handtool-porducts{
   
    overflow-x: scroll;
}

.bestSealingTools{
   
    overflow-x: scroll;
}

.handtool-heading>h3{
    font-size: larger;
}


/* _______________________________ */





    /* Navbar */

/* responsive navbar */
.navbar{
    display: none;
}


.container-fluid-res{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.navbarRes{
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: rgb(68,35,59) !important;
    padding: 10px;
    align-items: center;
    justify-content: center;
  
}
.responsiveMain{
    color: rgb(253,142,143) !important;
}
.nav-link-res{
    color: rgb(199,176,173) !important;
    text-decoration: none;
    font-size: smaller;
}
 




    /* footer */
    .onlinewebsitelogo{
        padding: 15px;
        overflow-x: scroll;
    }

    .footer-Logo>img{
        display: none;
    }
    .footer1Container{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }


} 